.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    width: calc((100/12) * 4);

    .textSection {
        background-color: white;
        width: 400px;
        padding: 1rem;
    }

    img {
        width: 400px;
    }

    div {
        font-size: 1.5rem;
        padding: 1rem 0;
    }

    .html {
        color: blue;
    }

    .css {
        color: green;
    }

    .php {
        color: red;
    }

    .js {
        color: rgb(226, 226, 16);
    }




}